/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
    margin: 0;
    background-color: #252525;
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, p, a {
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h2 {
    margin: 32px;
    font-size: 48px;
    font-family: "Montserrat";
    line-height: 1.18;
    letter-spacing: -0.02em;
    font-weight: bold;
    color: #1d1d1f;
}

a {
    font-family: "Montserrat";
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1e86dd;
}

a i {
    font-size: 16px;
    margin-left: 8px;
}

.nav-link i {
    margin-left: 0;
    margin-right: 8px;
}

.card {
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0.25);
    background-color: #252525;
    color: white;
}

/*spoiler mask*/
.spoiler {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}

.spoiler:hover, .spoiler:active {
    color: white;
}

.spoiler:hover a {
    color: white;
}

.spoiler:hover a:hover {
    color: lightblue;
}

/*footer*/
footer:hover a:hover {
    color: white;
}